 body {
    background-color: #fcfcfc;
    font-size: 14px;
    font-family: "Roboto";
    color: #212121;
 }
 .small {
     font-size: 10.5px;
     /* 75% of the baseline */
 }
 .large {
     font-size: 17.5px;
     /* 125% of the baseline */
 }
 .sideScroll {
     max-width: 100%;
     overflow: auto;
     height: 450px;
     white-space: nowrap;
 }
 .contents {
     width: 600px;
     height: 400px;
     display: inline-block;
 }
 .frostedGlass {
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
 }
 .frostedGlass:hover {
    -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
 }

 .sideScroll {
    max-width: 100%;
    overflow: auto;
    height: 430px;
    white-space: nowrap;
}

.sideScrollContent {
    width: 600px;
    height: 400px;
    display: inline-block;
}

.skillsLogos {
    max-height: 200px;
    max-width: 550px;
}
 nav ul a,
 nav .brand-logo {
     color: #fafafa;
 }
 a {
     color: #fafafa;
 }
 p {
     line-height: 2rem;
 }
 .button-collapse {
     color: #fafafa;
 }
 .parallax-container {
     min-height: 400px;
     line-height: 0;
     height: auto;
     color: rgba(255, 255, 255, .9);
 }
 .parallax-container .section {
     width: 100%;
 }
 @media only screen and (max-width: 992px) {
     .parallax-container .section {
         position: absolute;
         top: 40%;
     }
     #index-banner .section {
         top: 10%;
     }
 }
 @media only screen and (max-width: 600px) {
     #index-banner .section {
         top: 0;
     }
 }
 .icon-block {
     padding: 0 15px;
 }
 .icon-block .material-icons {
     font-size: inherit;
 }
 footer.page-footer {
     margin: 0;
 }