<div id="about-me" class="container-fluid center">
    <h3>Michael Solati</h3>
    <h5>{{punchLine}}</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <img id="profile-pic" src="assets/images/profile.jpg" class="responsive circle" alt="Michael Profile Image">
                <p>email @ <a href="mailto:mkslt04@gmail.com">mkslt04@gmail.com</a></p>
                <p>call @ <a href="tel:347-559-7399">347.559.7399</a></p>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
                <p>As a Web Developer, I have a great deal of passion for technology and software development. My passion is a mix of either programming or familiarizing myself with new products and services. This general passion and interest has allowed
                    me to develop an intricate knowledge of various technologies, including their purpose and how they work. However, while I enjoy their many benefits, I am also able to look at the products with a critical eye. Above and beyond anything
                    though, I am interested in contributing my experience in the software development as well as being granted the opportunity to work with some of the best and the brightest.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-2 col-lg-2">
                <a href="https://facebook.com/mkslt04" target="_blank">
                    <img class="responsive" src="assets/images/social/facebook.png" alt="Facebook Profile">
                </a>
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2">
                <a href="https://github.com/MichaelSolati" target="_blank">
                    <img class="responsive" src="assets/images/social/github.png" alt="Github Profile">
                </a>
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2">
                <a href="https://google.com/+MehdiSolati" target="_blank">
                    <img class="responsive" src="assets/images/social/google.png" alt="Google Profile">
                </a>
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2">
                <a href="https://linkedin.com/in/michaelsolati" target="_blank">
                    <img class="responsive" src="assets/images/social/linkedin.png" alt="LinkedIn Profile">
                </a>
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2">
                <a href="https://topcontributor.withgoogle.com/profile/michael-solati-02444e?hl=en-US" target="_blank">
                    <img class="responsive" src="assets/images/social/topcontributor.png" alt="Top Contributor Profile">
                </a>
            </div>
            <div class="col-xs-4 col-md-2 col-lg-2">
                <a href="https://twitter.com/mkslt04" target="_blank">
                    <img class="responsive" src="assets/images/social/twitter.png" alt="Twitter Profile">
                </a>
            </div>
        </div>
    </div>
</div>
