<section id="portfolio-skills">
    <h3 class="center-text">Portfolio &amp; Skills</h3>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#portfolio-tab" class="mdl-tabs__tab is-active">Portfolio</a>
            <a href="#skills-tab" class="mdl-tabs__tab">Skills</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="portfolio-tab">
            <div class="mdl-grid">
                <div *ngFor="let item of portfolioList" class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col">
                    <app-li-portfolio [details]="item"></app-li-portfolio>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="skills-tab">
            <ul class="mdl-list">
                <div *ngFor="let item of skillsList" class="mdl-card">
                    <app-li-skill [details]="item"></app-li-skill>
                </div>
            </ul>
        </div>
    </div>
</section>
