<section id="portfolio-skills">
    <h3 class="center-text">Portfolio &amp; Skills</h3>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#portfolio-tab" class="mdl-tabs__tab">Portfolio</a>
            <a href="#skills-tab" class="mdl-tabs__tab is-active">Skills</a>
        </div>
        <div class="mdl-card">
            <div class="mdl-tabs__panel is-active" id="skills-tab">
                <ul class="mdl-list">
                    <app-skill-list-item *ngFor="let skill of skillsList" [skill]="skill"></app-skill-list-item>
                </ul>
            </div>
            <div class="mdl-tabs__panel" id="portfolio-tab">
                portfolio
            </div>
        </div>
    </div>
</section>
