<div id="portfolioSkills" class="container">
    <h3 class="header center">Portfolio &amp; Skills</h3>
    <div class="card hoverable">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 m6 l6"><a class="active grey-text text-darken-4" href="#portfolio">Portfolio</a></li>
                <li class="tab col s6 m6 l6"><a class="grey-text text-darken-4" href="#skills">Skills</a></li>
            </ul>
        </div>
        <!-- Portfolio -->
        <div id="portfolio">
            <div class="container2">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="/assets/images/portfolio/funWithMaps.png" alt="Fun With Maps Website"> </div>
                            <div class="card-content"> <span class="card-title activator grey-text text-darken-4">Fun With Maps<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://funwithmaps.meteor.com/">Visit</a></p>
                            </div>
                            <div class="card-reveal"> <span class="card-title grey-text text-darken-4">Fun With Maps<i class="material-icons right">close</i></span>
                                <p>A <a href="http://www.gdgnewhaven.com/">GDG New Haven</a> demo of using Google Maps APIs with Meteor and also making Mongo geoqueries. (Works best if you are in New York City)</p>
                                <p><a href="http://funwithmaps.meteor.com/">Website</a> - <a href="https://github.com/MichaelSolati/funWithMaps">GitHub</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="/assets/images/portfolio/dormRoomFund.png" alt="Dorm Room Fund Website"> </div>
                            <div class="card-content"> <span class="card-title activator grey-text text-darken-4">Dorm Room Fund<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://dormroomfund.com/">Visit</a></p>
                            </div>
                            <div class="card-reveal"> <span class="card-title grey-text text-darken-4">Dorm Room Fund<i class="material-icons right">close</i></span>
                                <p>Started by students, for students, Dorm Room Fund is a grassroots organization dedicated to bringing ideas from the dorm room to the board room. They work together with prospective entrepreneurs and innovators to kickstart
                                    new and ambitious business ventures. Located in major cities across the US, and backed by several venture capital companies, DRF has brought life to the bourgeoning world of up-and-coming professionals.</p>
                                <p><a href="http://dormroomfund.com/">Website</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="/assets/images/portfolio/blawebapp.png" alt="Blue Light Alerts Web App"> </div>
                            <div class="card-content"> <span class="card-title activator grey-text text-darken-4">Blue Light Alerts<i class="material-icons right">more_vert</i></span>
                                <p>COMING SOON</p>
                            </div>
                            <div class="card-reveal"> <span class="card-title grey-text text-darken-4">Blue Light Alerts<i class="material-icons right">close</i></span>
                                <p>Blue Light Alerts is your personal safety companion. Fast location tracking and comparison to connect you with the people you trust in an emergency.</p>
                                <p><a href="http://github.com/MichaelSolati/Blue-Light-Alerts">GitHub</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light"> <img class="activator" src="/assets/images/portfolio/ballmerpeak.png" alt="Ballmer Peak Web App"> </div>
                            <div class="card-content"> <span class="card-title activator grey-text text-darken-4">Ballmer Peak<i class="material-icons right">more_vert</i></span>
                                <p><a href="http://ballmerpk.com">Visit</a></p>
                            </div>
                            <div class="card-reveal"> <span class="card-title grey-text text-darken-4">Ballmer Peak<i class="material-icons right">close</i></span>
                                <p>A Meteor web app designed to calculate a programmer's BAC and determine if their BAC falls into the legendary "Ballmer Peak" in order for them to reach optimal coding.</p>
                                <p><a href="http://ballmerpk.com">Website</a> - <a href="http://github.com/MichaelSolati/Ballmer-Peak">GitHub</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skills -->
        <div id="skills">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collapsible z-depth-0 noBorder" data-collapsible="accordion">
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://angularjs.org"><img src="/assets/images/skills/logo/angular.png" alt="AngularJS Logo"></a> <span class="title">AngularJS</span> </div>
                            <div class="collapsible-body">
                                <p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data
                                    binding and dependency injection eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner with any server technology.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://git-scm.com"><img src="/assets/images/skills/logo/git.png" alt="GIT Logo"></a> <span class="title">GIT</span> </div>
                            <div class="collapsible-body">
                                <p>Git is a widely used version control system for software development. It is a distributed revision control system with an emphasis on speed, data integrity, and support for distributed, non-linear workflows. Git was initially
                                    designed and developed by Linus Torvalds for Linux kernel development in 2005.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://java.com/"><img src="/assets/images/skills/logo/java.png" alt="Java Logo"></a> <span class="title">Java</span> </div>
                            <div class="collapsible-body">
                                <p>Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible. It is intended to let application
                                    developers "write once, run anywhere" (WORA), meaning that compiled Java code can run on all platforms that support Java without the need for recompilation. Java applications are typically compiled to bytecode that
                                    can run on any Java virtual machine (JVM) regardless of computer architecture.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://javascript.com"><img src="/assets/images/skills/logo/js.png" alt="JavaScript Logo"></a> <span class="title">JavaScript</span> </div>
                            <div class="collapsible-body">
                                <p>JavaScript is a cross-platform, object-oriented scripting language. It is a small and lightweight language. Inside a host environment (for example, a web browser), JavaScript can be connected to the objects of its environment
                                    to provide programmatic control over them. JavaScript contains a standard library of objects, such as Array, Date, and Math, and a core set of language elements such as operators, control structures, and statements.
                                    Core JavaScript can be extended for a variety of purposes by supplementing it with additional objects.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://jQuery.com"><img src="/assets/images/skills/logo/jQuery.png" alt="jQuery Logo"></a> <span class="title">jQuery</span> </div>
                            <div class="collapsible-body">
                                <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude
                                    of browsers.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://meteor.com/"><img src="/assets/images/skills/logo/meteor.png" alt="Meteor Logo"></a> <span class="title">Meteor</span> </div>
                            <div class="collapsible-body">
                                <p>Meteor, or MeteorJS is an open-source JavaScript web application framework written using Node.js. Meteor allows for rapid prototyping and produces cross-platform (web, Android, iOS) code. It integrates with MongoDB and
                                    uses the Distributed Data Protocol and a publish–subscribe pattern to automatically propagate data changes to clients without requiring the developer to write any synchronization code. On the client, Meteor depends
                                    on jQuery and can be used with any JavaScript UI widget library.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://mongodb.org/"><img src="/assets/images/skills/logo/mongo.png" alt="MongoDB Logo"></a> <span class="title">MongoDB</span> </div>
                            <div class="collapsible-body">
                                <p>MongoDB (from humongous) is a cross-platform document-oriented database. Classified as a NoSQL database, MongoDB eschews the traditional table-based relational database structure in favor of JSON-like documents with dynamic
                                    schemas (MongoDB calls the format BSON), making the integration of data in certain types of applications easier and faster. Released under a combination of the GNU Affero General Public License and the Apache License,
                                    MongoDB is free and open-source software.</p>
                            </div>
                        </li>
                        <li class="collection-item avatar">
                            <div class="collapsible-header topSpace">
                                <a href="http://nodejs.org/"><img src="/assets/images/skills/logo/node.png" alt="NodeJS Logo"></a> <span class="title">NodeJS</span> </div>
                            <div class="collapsible-body">
                                <p>Node.js is an open-source, cross-platform runtime environment for developing server-side web applications. Node.js applications are written in JavaScript and can be run within the Node.js runtime on OS X, Microsoft Windows,
                                    Linux, FreeBSD, NonStop, IBM AIX, IBM System z and IBM i. Its work is hosted and supported by the Node.js Foundation, a collaborative project at Linux Foundation.</p>
                            </div>
                        </li>
                    </ul>
                    <h6 class="center">Click Skill For Details</h6> </div>
            </div>
        </div>
    </div>
</div>
