<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--2-col-tablet mdl-cell--4-col">
        <a href="{{details.website}}">
            <img class="responsive center" src="{{details.logo}}" alt="{{details.orginization}} Logo">
        </a>
    </div>
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--8-col">
        <h4>{{details.role}}</h4>
        <h5><a href="{{details.website}}" target="_blank">{{details.orginization}}</a></h5>
        <h6>{{details.dates.start | date:'MMMM y'}} – <span *ngIf="details.dates.end">{{details.dates.end | date:'MMMM y'}}</span><span *ngIf="!details.dates.end">Current</span> | {{details.location}}</h6>
        <p>{{details.description}}</p>
    </div>
</div>
