li.mdl-list__item {
    height: auto;

    span.mdl-list__item-primary-content {
        height: auto;

        img.skill-no-border {
            border-radius: inherit;
            background-color: transparent;
        }

        span.mdl-list__item-text-body {
            height: auto;
        }
    }
}
