<div class="navbar">
    <nav class="grey darken-4">
        <div class="nav-wrapper container">
            <ul class="right hide-on-med-and-down">
                <li><a href="#aboutMe">About Me</a></li>
                <li><a href="#portfolioSkills">Portfolio & Skills</a></li>
                <li><a href="#experienceEducation">Experience, Community & Education</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#aboutMe">About Me</a></li>
                <li><a href="#portfolioSkills">Portfolio & Skills</a></li>
                <li><a href="#experienceEducation">Experience, Community...</a></li>
            </ul> <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> </div>
    </nav>
</div>
