<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header"></header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Michael Solati</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#about-me">About Me</a>
            <a class="mdl-navigation__link" href="#portfolio-skills">Portfolio &amp; Skills</a>
            <a class="mdl-navigation__link" href="#experience">Experience, Community &amp; Education</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <app-about-me></app-about-me>
        <app-portfolio-skills></app-portfolio-skills>
        <app-experience></app-experience>
        <app-footer></app-footer>
    </main>
</div>
