<div id="experience">
    <h3 class="header center">Experience, Community &amp; Education</h3>
    <div id="work" class="container-fluid">
        <app-detail-list-item *ngFor="let experience of workExperiences" [detail]="experience"></app-detail-list-item>
    </div>
    <div id="community" class="container-fluid">
        <app-detail-list-item *ngFor="let experience of communityExperiences" [detail]="experience"></app-detail-list-item>
    </div>
    <div id="education" class="container-fluid">
        <app-detail-list-item *ngFor="let experience of educationExperiences" [detail]="experience"></app-detail-list-item>
    </div>
</div>
