div.mdl-card__title {
    color: #fff;
    background: no-repeat #000000;
    background-size: contain;
    background-position: center;
    height: 250px;
    margin: 0 -8px;

    h2.mdl-card__title-text {
        width: 100%;
        background: rgba(000,000,000,0.5);
        margin: 0px -16px -16px -16px;
        padding: 0px 16px;
    }
}
