<section class="container">
  <div class="row">
    <div class="col-12">
      <md-list class="background-white">
        <md-list-item *ngFor="let skill of skills | async">
          <img md-list-avatar [src]="skill.logo" [alt]="skill.title">
          <h3 md-line>
            <a [href]="skill.website" target="_blank">{{skill.title}}</a>
          </h3>
          <p md-line>
            <span>{{skill.description}}</span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</section>