<app-about-me></app-about-me>

<md-tab-group>
  <md-tab label="Experience">
    <app-experience></app-experience>
  </md-tab>
  <md-tab label="Portfolio">
    <app-portfolio></app-portfolio>
  </md-tab>
  <md-tab label="Skills">
    <app-skills></app-skills>
  </md-tab>
</md-tab-group>


<!--<md-toolbar color="primary">
  <span>Michael Solati</span>
</md-toolbar>
<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      About Me
    </ng-template>
    <app-about-me></app-about-me>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      Portfolio & Skills
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      Experience
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      Education
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>-->