<md-toolbar color="primary">
  <span>{{title}}</span>
</md-toolbar>
<app-about-me></app-about-me>
<md-tab-group>
  <md-tab label="Portfolio">
    <app-portfolio></app-portfolio>
  </md-tab>
  <md-tab label="Skills">
    <app-skills></app-skills>
  </md-tab>
  <md-tab label="Experience">
    <app-experience></app-experience>
  </md-tab>
  <md-tab label="Community">
    <app-community></app-community>
  </md-tab>
  <md-tab label="Education">
    <app-education></app-education>
  </md-tab>
</md-tab-group>