<div id="experience-education">
    <h3 class="header center">Experience, Community &amp; Education</h3>
    <div id="experience" class="container-fluid">
      <app-detail-list-item *ngFor="let experience of workExperiences" [detail]="experience"></app-detail-list-item>
    </div>
    <div id="community">
        <div class="row">
            <div class="col s12 m3 l4">
                <a href="https://developers.google.com/groups/"><img class="responsive-img centered topSpace" src="/assets/images/community/gdgNewHaven.png" alt="GDG New Haven Logo"></a>
            </div>
            <div class="col s12 m9 l8">
                <h4 class="center">Organizer of GDG New Haven</h4>
                <h5 class="center"><a href="https://developers.google.com/groups/">Google Developer Groups</a></h5>
                <h6 class="center">January 2016 – Present | New Haven, CT</h6>
                <p class="center">Organizer for the New Haven branch of Google Developer Groups (GDGs). Hosted and organized events for developers with an interest in Google's developer technology; including technologies like Android, Chrome and Maps APIs.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 l4">
                <a href="http://indie-soft.com/a100/"><img class="responsive-img centered topSpace" src="/assets/images/community/a100.png" alt="A100 Logo"></a>
            </div>
            <div class="col s12 m9 l8">
                <h4 class="center">Senior Apprentice</h4>
                <h5 class="center"><a href="http://indie-soft.com/a100/">Independent Software</a></h5>
                <h6 class="center">September 2015 – Present | New Haven, CT</h6>
                <p class="center">Assist in hosting weekly developer meet ups. Provide support and tutoring for software development to new developers. Assist in the formal training of apprentice software developers, via the Apprentice 100 program, in Full Stack development
                    in an Agile environment.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 l4">
                <a href="http://productforums.google.com/forum/#!forum/nexus"><img class="responsive-img centered topSpace" src="/assets/images/community/google.png" alt="Google Logo"></a>
            </div>
            <div class="col s12 m9 l8">
                <h4 class="center">Nexus Product Forum Top Contributor</h4>
                <h5 class="center"><a href="http://productforums.google.com/forum/#!forum/nexus">Google</a></h5>
                <h6 class="center">June 2011 – Present</h6>
                <p class="center">Actively participate in Google’s Product Help Forums. Work with the Mobile team of Google Consumer Operations branch while addressing consumer questions, providing support for Google’s various mobile products and services, and reporting/escalating
                    bugs with the Android platform, Nexus devices, and some Google services available on Android.</p>
            </div>
        </div>
    </div>
    <div id="education">
        <div class="row">
            <div class="col s12 m3 l4">
                <a href="http://southernct.edu/"><img class="responsive-img centered topSpace" src="/assets/images/education/scsu.png" alt="SCSU Logo"></a>
            </div>
            <div class="col s12 m9 l8">
                <h4 class="center">Bachelor of Science (B.S.), Computer Science</h4>
                <h5 class="center"><a href="http://southernct.edu/">Southern Connecticut State University</a></h5>
                <h6 class="center">January 2015 – Present | New Haven, CT</h6>
                <p class="center">Computer Science Major while also pursuing a Mathematics Minor.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 l4">
                <a href="http://www.gatewayct.edu/"><img class="responsive-img centered topSpace" src="/assets/images/education/gwcc.jpg" alt="GWCC Logo"></a>
            </div>
            <div class="col s12 m9 l8">
                <h4 class="center">Associate of Science (A.S.), General Studies</h4>
                <h5 class="center"><a href="http://www.gatewayct.edu/">Gateway Community College</a></h5>
                <h6 class="center">January 2012 – December 2014 | New Haven, CT</h6>
            </div>
        </div>
    </div>
</div>
