<div class="container">
    <div id="experienceEducation">
        <h3 class="header center">Experience, Community &amp; Education</h3>
        <div class="card hoverable">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6 m6 l6"><a class="active grey-text text-darken-4" href="#experience">Experience</a></li>
                    <li class="tab col s6 m6 l6"><a class="active grey-text text-darken-4" href="#community">Community</a></li>
                    <li class="tab col s6 m6 l6"><a class="grey-text text-darken-4" href="#education">Education</a></li>
                </ul>
            </div>
            <div class="container2">
                <div id="experience">
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://checkmatecreations.com"><img class="responsive-img centered topSpace" src="/assets/images/employers/checkmate.png" alt="Checkmate Creations Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Project Manager</h4>
                            <h5 class="center"><a href="http://checkmatecreations.com">Checkmate Creations</a></h5>
                            <h6 class="center">February 2016 – Current | New Haven, CT</h6>
                            <p class="center">Responsible for delivering projects against agreed scope, schedule & customer expectations. Doing this whilst supervising, directing & motivating Senior and Junior Developers while also being involved in coding projects. Provided
                                training in best practices and framework for developers, in terms of both communication and coding, as well as maintaining high standards in execution of projects.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://checkmatecreations.com"><img class="responsive-img centered topSpace" src="/assets/images/employers/checkmate.png" alt="Checkmate Creations Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Web Developer</h4>
                            <h5 class="center"><a href="http://checkmatecreations.com">Checkmate Creations</a></h5>
                            <h6 class="center">November 2015 – February 2016 | New Haven, CT</h6>
                            <p class="center">Full stack developer for the start-up Meteor studio, Checkmate Creations, that specializes in MVP development for startups and prototypes for existing brands. Involved with everything from front-end (JavaScript, Meteor, AngularJS,
                                Bootstrap & jQuery) to server-side code and database architecture (Node.js & MongoDB) to take a client through early design and branding stages to a complete scalable website or application.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://t-mobile.com/"><img class="responsive-img centered topSpace" src="/assets/images/employers/tMobile.png" alt="T-Mobile Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Retail Sales Associate</h4>
                            <h5 class="center"><a href="http://t-mobile.com/">T-Mobile</a></h5>
                            <h6 class="center">July 2012 – October 2015 | Meriden, CT</h6>
                            <p class="center">Attended to the customer and develop customer trust and loyalty not only through sales, but also by solving their problems, attending to their needs, and treating them with utmost respect. Consistently made goals for measured
                                metrics, as well as receiving recognition in the market for some metrics. Stayed knowledgeable and up-to-date with all products and services in order to assist customers in finding a perfect solution.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://indie-soft.com/a100/"><img class="responsive-img centered topSpace" src="/assets/images/employers/a100.png" alt="A100 Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">A100 Program Apprentice</h4>
                            <h5 class="center"><a href="http://indie-soft.com/a100/">Independent Software</a></h5>
                            <h6 class="center">June 2015 – August 2015 | Stamford, CT</h6>
                            <p class="center">Received formal training in agile practices as well as modern coding technologies; such as Git, Meteor, Javascript, CSS, HTML5, and MongoDB. Served as Scrum Master for an agile development team using Meteor JS, for the Full
                                Stack, building beta software for a venture company.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://jccnh.org/"><img class="responsive-img centered topSpace" src="/assets/images/employers/jcc.png" alt="JCC Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Head Swim Coach (Blue Marlins of Greater New Haven)</h4>
                            <h5 class="center"><a href="http://jccnh.org/">Jewish Community Center of Greater New Haven</a></h5>
                            <h6 class="center">September 2009 – March 2015 | Woodbridge, CT</h6>
                            <p class="center">Organized training cycles with effective workouts, provided coaching and support, and taught swimmers valuable skills to practice both inside, and outside of the water; while also developing my own knowledge of coaching and
                                the sport. Also managed a well balanced coaching staff, with focuses in communication and teaching amongst each other. Opened up new lines of effective communication with parents and administrative heads. Set up activities
                                such as team spirit nights, and events with Olympic Athletes.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://cityofmeriden.org/"><img class="responsive-img centered topSpace" src="/assets/images/employers/cityOfMeriden.png" alt="City of Meriden Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">MIS Intern</h4>
                            <h5 class="center"><a href="http://cityofmeriden.org/">City of Meriden</a></h5>
                            <h6 class="center">June 2012 – September 2012 | Meriden, CT</h6>
                            <p class="center">Used basic knowledge and skills obtained through education and on-the-job training to assist MIS (IT) team. Responsibilities include troubleshooting, software roll out, system maintenance, and assisting with transitions to
                                new technologies used within our institution.</p>
                        </div>
                    </div>
                </div>
                <div id="community">
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="https://developers.google.com/groups/"><img class="responsive-img centered topSpace" src="/assets/images/community/gdgNewHaven.png" alt="GDG New Haven Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Organizer of GDG New Haven</h4>
                            <h5 class="center"><a href="https://developers.google.com/groups/">Google Developer Groups</a></h5>
                            <h6 class="center">January 2016 – Present | New Haven, CT</h6>
                            <p class="center">Organizer for the New Haven branch of Google Developer Groups (GDGs). Hosted and organized events for developers with an interest in Google's developer technology; including technologies like Android, Chrome and Maps APIs.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://indie-soft.com/a100/"><img class="responsive-img centered topSpace" src="/assets/images/community/a100.png" alt="A100 Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Senior Apprentice</h4>
                            <h5 class="center"><a href="http://indie-soft.com/a100/">Independent Software</a></h5>
                            <h6 class="center">September 2015 – Present | New Haven, CT</h6>
                            <p class="center">Assist in hosting weekly developer meet ups. Provide support and tutoring for software development to new developers. Assist in the formal training of apprentice software developers, via the Apprentice 100 program, in Full
                                Stack development in an Agile environment.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://productforums.google.com/forum/#!forum/nexus"><img class="responsive-img centered topSpace" src="/assets/images/community/google.png" alt="Google Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Nexus Product Forum Top Contributor</h4>
                            <h5 class="center"><a href="http://productforums.google.com/forum/#!forum/nexus">Google</a></h5>
                            <h6 class="center">June 2011 – Present</h6>
                            <p class="center">Actively participate in Google’s Product Help Forums. Work with the Mobile team of Google Consumer Operations branch while addressing consumer questions, providing support for Google’s various mobile products and services,
                                and reporting/escalating bugs with the Android platform, Nexus devices, and some Google services available on Android.</p>
                        </div>
                    </div>
                </div>
                <div id="education">
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://southernct.edu/"><img class="responsive-img centered topSpace" src="/assets/images/education/scsu.png" alt="SCSU Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Bachelor of Science (B.S.), Computer Science</h4>
                            <h5 class="center"><a href="http://southernct.edu/">Southern Connecticut State University</a></h5>
                            <h6 class="center">January 2015 – Present | New Haven, CT</h6>
                            <p class="center">Computer Science Major while also pursuing a Mathematics Minor.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m3 l4">
                            <a href="http://www.gatewayct.edu/"><img class="responsive-img centered topSpace" src="/assets/images/education/gwcc.jpg" alt="GWCC Logo"></a>
                        </div>
                        <div class="col s12 m9 l8">
                            <h4 class="center">Associate of Science (A.S.), General Studies</h4>
                            <h5 class="center"><a href="http://www.gatewayct.edu/">Gateway Community College</a></h5>
                            <h6 class="center">January 2012 – December 2014 | New Haven, CT</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
