<section class="container">
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h2>Michael Solati</h2>
          </md-card-title>
          <md-card-subtitle>{{punchLine}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-4 text-center">
                <img id="profile-pic" src="assets/images/profile.png" class="responsive center circle pb-2" alt="Michael Profile Image">
                <p>email @ <a href="mailto:me@michaelsolati.com">me@michaelsolati.com</a></p>
                <p>call @ <a href="tel:347-559-7399">347.559.7399</a></p>
              </div>
              <div class="col-12 col-sm-6 col-lg-8">
                <p>A full stack developer hailing from New Haven Connecticut. With a background and love for Java (think Android),
                  Java (think Starbucks), and JavaScript I've been writing code for four years and have found my love in
                  Angular as the perfect solution for client side/mobile development.</p>
                <div class="row">
                  <div class="col-3">
                    <img class="responsive social" (click)="goToURL('https://github.com/MichaelSolati')" src="assets/images/social/github.svg"
                      alt="Github Profile">
                  </div>
                  <div class="col-3">
                    <img class="responsive social" (click)="goToURL('https://www.linkedin.com/in/michaelsolati/')" src="assets/images/social/linkedin.svg"
                      alt="LinkedIn Profile">
                  </div>
                  <div class="col-3">
                    <img class="responsive social" (click)="goToURL('https://medium.com/@MichaelSolati')" src="assets/images/social/medium.svg"
                      alt="Medium Profile">
                  </div>
                  <div class="col-3">
                    <img class="responsive social" (click)="goToURL('https://twitter.com/MichaelSolati')" src="assets/images/social/twitter.svg"
                      alt="Twitter Profile">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>